body{
  margin: 0;
  padding: 0;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  height: 100vh;
  background-color: black;
  box-sizing: border-box;
}
.area{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
p{
  color: #FFF;
  display: inline-block;
}
#score-board{
  text-align: center;
  top: 0;
  position: fixed;
  z-index: 10;
  /*right: 50%;*/
  /*transform: translateX(-50%);*/
  border: solid 2px #FFF;
  margin: 10px auto auto 10px;
  padding: 0 5px;
}
@media (max-width: 768px)  {
  #score-board div{
    display: inline-block;
  }
  #score-board p{
    font-size: 11px;
  }

}

.score{
  /*width: 40%;*/
  /*display: inline-block;*/
  color: #FFF;
  /*float: inherit;*/
}

#player-score {
  /*text-align: center;*/
  /*display: block;*/
}
.button{
  width: 9%;
  height: 9vh;
}
#up{
  background-color: red;
}
#down{
  background-color: blue;
  right: 0;
}

canvas{
  /*position: absolute;*/
  border: 3px solid #fff;
  margin: 0 auto;
  display: block;
  /*top: 50%;
  transform: translateY(-50%);*/
}
